body {
  font-family: Arial, sans-serif;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: 10px;
}

button {
  background-color: #f14a4a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d53b3b;
}
